/* @import url('./styles/_header.css'); */

* {
  box-sizing: border-box;
}

/* Set a background color */

body {
  /* margin: 0; */
  font-family: Helvetica, arial, sans-serif;
  background-color: #A9A9A9;
}

img {
  width: 100%;
}

.timeline {
  position: relative;
  height: 1350px;
}

/* vertical timeline */

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #266188;
  top: 40px;
  bottom: 10px;
  left: 20%;
  z-index: 1;
}

/* containers  */

.container {
  background-color: #F5F5F5;
  width: 30%;
  right: -22%;
  top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin: 45px;
  position: relative;
  display: block;
}

.text {
  padding: 20px;
}

.date_1 {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FF0043;
  display: inline-block;
  padding: 3px;
  color: white;
}

.date_2 {
  position: absolute;
  left: 0;
  top: 0%;
  background-color: #FF0043;
  display: inline-block;
  padding: 3px;
  color: white;
}

.date_3 {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FF0043;
  display: inline-block;
  padding: 3px;
  color: white;
}

.circle {
  background-color: #266188;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -21%;
  top: 8%;
  transform: translateX(-50%);
  border-radius: 33px;
  z-index: 3;
}

.octicon {
  position: absolute;
  top: 15%;
  left: 30%;
  color: white;
}

/*  arrows for left side containers */

.content::before {
  position: absolute;
  content: "";
  left: -7%;
  top: 9%;
  height: 0;
  width: 0;
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px black;
  border-bottom: solid 10px transparent;
}

/* inside the box */

.content {
  background-color: #F5F5F5;
  position: relative;
  border-radius: 5px;
}

.button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #266187
}

/* Full size  */

/* @media(min-width: 768px) {
  .con_2 {
    background-color: red;
  }
  .timeline::after {
    border-left: 5px solid #005E90;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  } */