/* @import url('./styles/_header.css'); */

* {
  box-sizing: border-box;
}

/* Set a background color */

body {
  /* margin: 0; */
  font-family: Helvetica, arial, sans-serif;
  background-color: #A9A9A9;
}

img {
  width: 100%;
}

.timeline {
  position: relative;
  height: 1000px;
}

/* vertical timeline */

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #266188;
  top: 40px;
  bottom: 20px;
  left: 50%;
}

/* containers  */

.right {
  padding: 20px;
  position: relative;
  background-color: #F5F5F5;
  width: 40%;
  left: 21%;
  top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin: 5px;
}

.left {
  padding: 20px;
  position: relative;
  background-color: #F5F5F5;
  width: 40%;
  left: 21%;
  top: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin: 5px;
}

/* the circles for each container */

.right::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: -20px;
  background-color: #266187;
  top: 28px;
  border-radius: 50%;
}

.left::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  background-color: #266187;
  top: 28px;
  border-radius: 50%;
}

/* Move container to the left */

.left {
  left: 0;
}

/* Move container to the right */

.right {
  left: 50%;
}

/* arrows for right side containers */

.right::before {
  content: "";
  right: 100%;
  top: 10%;
  height: 0;
  width: 0;
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px #F5F5F5;
  border-bottom: solid 10px transparent;
  position: absolute;
}

/*  arrows for left side containers */

.left::before {
  content: "";
  left: 100%;
  top: 10%;
  height: 0;
  width: 0;
  border-top: solid 10px transparent;
  border-left: solid 10px #F5F5F5;
  border-right: solid 10px transparent;
  border-bottom: solid 10px transparent;
  position: absolute;
}

/* inside the box */

.content {
  background-color: #F5F5F5;
  position: relative;
  border-radius: 5px;
}

.button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  color: white;
  background-color: #266187
}